.section-title {
  font-size: 2.7rem;
  font-weight: 700;
  margin-top: 20px;
}

.section-title span {
  color: #d14c4c;
}

.cat-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.cat-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: 0.4s ease-in-out;
}

/* Hover Animations */
.cat-card:hover .cat-img {
  transform: scale(1.08);
  filter: brightness(1.1);
}

.cat-card:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  transform: translateY(-6px);
}

.cat-info {
  position: absolute;
  bottom: 10px;
  left: 18px;
  color: white;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.price {
  font-weight: 600;
  opacity: 0.9;
}

/* OfferImage Section */

.offer-section {
  position: relative;
  width: 100%;
  margin: 70px 0;
}

/* Make image truly edge-to-edge */
.offer-img {
  width: 100%;
  height: 430px;
  object-fit: cover;
}


/* Text Overlay */
.offer-overlay {
  position: absolute;
  top: 50%;
  right: 90px;
  transform: translateY(-50%);
  color: #222;
  text-align: left;
  font-weight: 700;
  line-height: 1.3;
}

.offer-overlay h2 {
  font-size: 3rem;
}

.offer-overlay h2 span {
  color: #e63946;
}

.offer-overlay p {
  font-size: 1.4rem;
  margin-bottom: 15px;
}

/* Coupon Tag */
.offer-tag {
  background: #c82333;
  padding: 15px;
  border-radius: 50px;
  width: 260px;
  text-align: center;
  color: #fff;
}

.coupon {
  background: #fff;
  color: #000;
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 6px;
  margin-top: 6px;
}

/* Responsive */
@media (max-width: 768px) {
  .offer-img {
    height: 280px;
  }
  
  .offer-overlay {
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
  }
}
