.qty-btn {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background: #eee;
  border: none;
  font-weight: bold;
}

.wishlist-btn {
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.wishlist-btn.active {
  color: red;
}
