.splash-container {
  width: 100%;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1675325152993-b3a5fa7f0356?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  animation: fadeIn 1s ease-in;
}

.logo {
  font-size: 54px;
  font-weight: 700;
  color: white;
}

.logo span {
  color: #ffb800; /* Yellow highlight */
}

.btn-group {
  margin-top: 25px;
  display: flex;
  gap: 14px;
  justify-content: center;
}

.btn {
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  cursor: pointer;
  border: none;
  outline: none;
}

.login-btn {
  background-color: #ffb800;
  color: #000;
}

.login-btn:hover {
  color: #ffb800;
  border: white 2px solid;
  font-weight: bold;
}

.register-btn {
  background-color: transparent;
  color: white;
  border: 2px solid #fff;
}

.register-btn:hover {
  border: 2px black solid;
  color: #ffb800;
    font-weight: bold;  
}

.btn:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 42px;
  }
  .btn {
    width: 70%;
    font-size: 16px;
  }
  .btn-group {
    flex-direction: column;
  }
}
